@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	margin: 0;
	font-family: Inika;
}

:root {
	--background-start-rgb: 71, 160, 64;
	--background-end-rgb: 255, 255, 255;
}

body {
	background: white;
}
